ui/node_modules/
npm-debug.log*
ui/dist/
ui/win-unpacked/
ui/builder-debug.yml
ui/latest.yml

# Generated binaries/build artifacts
build/
*.exe

# Packaged release artifacts
dist/*.zip
dist/campfire-win-x64-*/
